@page
@model Frontend.Pages.Entidades.ServiciosActivosModel
@{
}
<div class="row justify-content-center bg-light">
    <div class="col-sm-12">
        <h3>Servicios Activos de la Entidad [<a href="/Entidades/ServiciosEntidades">Pagina Anterior</a>]
                <br/>
        </h3>
        <br/>
    </div>
</div>


<div class="row justify-content-center">
    @if (Model._ListarServiciosEntidades is not null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Estado</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eme in Model._ListarServiciosEntidades)
                {
                    @if(eme.UserId == User.Identity.Name && eme.Status == "ACTIVOS")
                    {
                        <tr>
                            <td>@eme.Id</td>
                            <td>@eme.Nombre</td>
                            <td>@eme.Status</td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="lead">No hay servicios activos registrados!</p>
    }
</div>

<div class="row justify-content-center bg-light">
    <div class="col-sm-12">
        <h3>Servicios Activos y Cupo de Migrantes [<a href="/Entidades/ServiciosEntidades">Pagina Anterior</a>]
                <br/>
        </h3>
        <br/>
    </div>
</div>

<div class="row justify-content-center">
    @if (Model._ListarServiciosEntidades is not null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>CantidadMAX</td>
                    <td>Estado</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eme in Model._ListarServiciosEntidades)
                {
                    @if(eme.UserId == User.Identity.Name && eme.Status == "ACTIVOS")
                    {
                        <tr>
                            <td>@eme.Id</td>
                            <td>@eme.Nombre</td>
                            <td>@eme.CapacidadMAX</td>
                            <td>@eme.Status</td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="lead">No hay servicios activos registrados!</p>
    }
</div>
@section Scripts{
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}