@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Frontend.Pages.Migrantes.IndexModel
@{
}

<h1>Bienvenido Migrante @User.Identity.Name</h1>
<h4><a asp-page="DatosPersonalesVer" asp-route-userNameA="@User.Identity.Name">Ver Datos Personales</a></h4>
<h4><a asp-page="Emergencias" asp-route-userNameA="@User.Identity.Name">Emergencias</a></h4>
<h4><a asp-page="Necesidades" asp-route-userNameA="@User.Identity.Name">Necesidades</a></h4>
<h4><a asp-page="ListarServicios" asp-route-userNameA="@User.Identity.Name">Servicios Disponibles</a></h4>
<h4><a asp-page="ServiciosXCat" asp-route-userNameA="@User.Identity.Name">Servicios Por Categoria</a></h4>
<h4><a asp-page="ServiciosXNecesidad" asp-route-userNameA="@User.Identity.Name">Servicios por mis Necesidades</a></h4>
