@page
@model Frontend.Pages.Migrantes.ServiciosXNecesidadModel
@{
}

<div class="row justify-content-center bg-light">
    <div class="col-sm-12">
        <h3>Servicios Por Categoria [<a href="/Migrantes">Pagina Principal</a>]
                <br/>
                @* [<a href="/Entidades/ServiciosActivos">Servicios Activos</a>]
                [<a href="/Entidades/ServiciosSinCupo">Servicios Sin Cupo</a>] *@
        <br/>            
        
        </h3>
        <form method="get">
        <div class="form-group row">
            <label class="col-sm-4 control-label">Seleccione Necesidad</label>
            <div class="col-sm-8">
                <select name="cat" class="form-control">
                    <option value=""></option>
                    @foreach (var el in @Model._ListarNecesidades)
                    {
                        <option value="@el.Categoria">@el.Categoria</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
        </div>
        <button type="submit">Buscar</button>
        </form>
        <br/>
    </div>

</div>


<div class="row justify-content-center">
    @if (Model._ListarServicesEntidades is not null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Capacidad</td>
                    <td>Categoria</td>
                    <td>Estado</td>
                    <td>Qué desea hacer?</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eme in Model._ListarServicesEntidades)
                {
                    @if(eme.Status != "SIN_CUPO" && eme.Status != "CERRADOS")
                    {
                        <tr>
                            <td>@eme.Id</td>
                            <td>@eme.Nombre</td>
                            <td>@eme.CapacidadMAX</td>
                            <td>@eme.Categoria</td>
                            <td>@eme.Status</td>
                            <td>
                                <a class="btn btn-outline-success" asp-page="SolicitarServicios" asp-route-emeId="@eme.Id">Solicitar</a>
                            </td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="lead">No hay Servicios disponibles!</p>
    }
</div>
@section Scripts{
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}